<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.weixin.InitServlet</servlet-class>
        <init-param>  
            <param-name>appid</param-name>  
            <param-value>wx37f976dad1ea9039</param-value>  
        </init-param> 
        <init-param>  
            <param-name>appsecret</param-name>  
            <param-value>38cf48c15f84ef6352e42a4669bdbdd0</param-value>  
        </init-param> 
		<load-on-startup>0</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>RequestServlet</servlet-name>
		<servlet-class>com.weixin.RequestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestServlet</servlet-name>
		<url-pattern>/request.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.weixin.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin.do</url-pattern>
	</servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
